p{
    font-size: 14pt;
    color: blue;
    font-family: "Times New Roman', Times, serif";
}
h1{
    color: red;
    background-color: yellow;
}
h2{
    color: green;
    text-decoration: underline overline;
    text-decoration-color: red;
}
#recipe{
    text-align: center;
    background-color: lightgray;
}
#rbody{
    background-color: white;
}
#bmood{
    height: 200px;
    width: 200px;
}
#gmood{
    height: 200px;
    width: 200px;
}
ul > li{
    color: blue;
}
#val a.ref img{
    height: 31px;
    width: 95px;
}
#val{
    position: absolute;
    right: 10px;
}
h1 > span{
    position: absolute;
    right: 10px;
}
h3{
    color: green;
    background-color: lightgray;
}
#p1{
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    background-color: wheat;
}
#p2{
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    background-color: wheat;
}
#p3{
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    background-color: wheat;
}
em{
    font-weight: bold;
}
#mybody{
    font-size: 14pt;
    background-image: url("/images/DJ.jpg");
    background-size: cover;
    background-clip: padding-box;
}
footer{
    position: absolute;
    right: 10px;
}