h1{
    background-color: yellow;
}
body{
    background-color: mediumaquamarine;
}

.maindiv{
    background-color: lightslategray;
    overflow: hidden;
    padding: 10px;
    width: 50%;
}

.a1, .a2{
    background-color: lightskyblue;
    float: right;
    margin-left: 10px;
    width: 100px;
}
