/* AUTHOR: Darphe HYPPOLITE JEAN, ID: 610736 */

h1 {
    text-align: center;
    text-shadow: 4px 4px lightgray;
}
h3{
    text-align: center;
}
body {
    background-image: url('images/background.png');
    margin: 0px;
    padding: 0px;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    text-align: center;
    background-image: url('images/bannerbg.png');
    background-repeat: repeat-x;
}

#content {
    width: 800px;
    border: 4px solid gray;
    border-radius: 15px;
    margin: auto;
    overflow: auto;
    position: relative;
}

#overview {
    float: right;
    background-color: lightgreen;
    width: 250px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    border-radius: 0 15px 15px 0;
}

#overview>dl {
    padding: 10pt;
    padding-top: 0px;
}

#overview dt {
    font-weight: bold;
    margin-top: 10pt;
}

#verview ul {
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
}

#overview {
    border-top-right-radius: 15px;
}

#review-head {
    border-radius: 15px 0 0 15px;
    width: 550px;
}

#review-head-cont, #rottenbig {
    border-top-left-radius: 15px;
}

#rottenbig {
    vertical-align: bottom;
}

#review-head-cont {
    background-image: url('images/rbg.png');
    background-repeat: repeat-x;
}

#rottenbig~span {
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.review {
    font-size: 8pt;
    display: inline-grid;
    ;
    width: 47%;
    margin-left: 2%;
}

.review p:first-child {
    border: 2px solid gray;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    overflow: auto;
}

.review p>img {
    margin-right: 5px;
    float: left;
}

.footer{
    background-color: lightgreen;
    padding: 5px;
    margin-bottom: 0px;
    text-align: center;
    border-bottom-left-radius: 13px;
    position: absolute;
    bottom: 0px;
    width: inherit;
}
.publication {
    font-style: italic;
}

#validators {
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: 0.5;
}
